body {
    background-color: aquamarine;
}

#introContainer {
    text-align: center;
    max-width: 60%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

#introParagraph {
    font-size: 4vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.TreeJSNodeContent {
    font-size: 5vh;
    text-decoration: none;
    color: black;
}

.TreeJSNodeContentContainer {
    transition: all .2s ease-in-out;
}

.TreeJSNodeContentContainer:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: gold !important;
}

#fractalTreeImgContainer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    
}

#fractalTreeImg {
    margin: auto;
    height: 30vh;
}